#imageSpan {
    font-style: italic;
    opacity: .8;
}

form {
    justify-items: center;
    justify-content: center;
    margin: auto;
    display: block;
}

input{
    margin: auto;
    display: block;
}

select {
    resize:horizontal; 
    width:20px;
    color: hsl(300, 91%, 27%);

}